githubConfigUrl: "https://github.com/tsgomesdev/github-runners"
githubConfigSecret: github-arc-secret
minRunners: 0
maxRunners: 10

template:
  spec:
    containers:
      - name: runner
        image: registry.tasso.dev.br/github-runner:latest
        command: ["/home/docker/actions-runner/run.sh"]
        env:
          - name: DOCKER_HOST
            value: "tcp://localhost:2375"
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "2"
            memory: "4Gi"
        volumeMounts:
          - name: work
            mountPath: /home/docker/_work

      - name: dind
        image: docker:24-dind
        securityContext:
          privileged: true
        env:
          - name: DOCKER_TLS_CERTDIR
            value: ""
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "2"
            memory: "4Gi"
        volumeMounts:
          - name: work
            mountPath: /home/docker/_work
          - name: docker-storage
            mountPath: /var/lib/docker

    volumes:
      - name: work
        emptyDir: {}
      - name: docker-storage
        emptyDir: {}
